########################################
# VOLUMIC stage 2 Machine configuration
########################################

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 2500
max_z_velocity: 10
max_z_accel: 50
minimum_cruise_ratio: 0.5
square_corner_velocity: 5

[safe_z_home]
speed: 200

[bed_mesh]
speed: 200

[quad_gantry_level]
speed: 200

[stepper_x]
microsteps: 64
homing_speed: 200

[stepper_y]
microsteps: 64
homing_speed: 200

[stepper_y1]
microsteps: 64

[stepper_z]
microsteps: 16
homing_speed: 15

[stepper_z1]
microsteps: 16

[stepper_z2]
microsteps: 16

[stepper_z3]
microsteps: 16

[extruder]
microsteps: 16
